<h1>Listing personality_categories</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @personality_categories.each do |personality_category| %>
      <tr>
        <td><%= personality_category.label %></td>
        <td><%= link_to 'Show', personality_category %></td>
        <td><%= link_to 'Edit', edit_personality_category_path(personality_category) %></td>
        <td><%= link_to 'Destroy', personality_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personality category', new_personality_category_path %>
